{% extends "base.html" %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block pageheaders %}
<link href="{%static "css/login.css" %}" rel="stylesheet">
{% endblock %}

{% block title %}Please Log In{% endblock %}

{% block content %}
<div class="text-center">
	<img src="{%static "images/logo.png" %}" id="logo" />
</div>
<form class="form-signin" method="post" action="{% url 'django.contrib.auth.views.login' %}">
	{% csrf_token %}
	<h1 style="text-align:center;">Log In</h1>
	{{ form.username|attr:"placeholder:Username"|attr:"required:true"|add_class:"form-control" }}
	{{ form.password|attr:"placeholder:Password"|attr:"required:true"|add_class:"form-control" }}
	{% if form.errors %}
	<div class="alert alert-danger">Wrong username or password.</div>
	{% endif %}
	<button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
	<a class="btn btn-lg btn-block btn-info" href="/accounts/register/">Sign up</a>
	<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}