{% extends "base.html" %}

{% block pagename %}

	Profile page

{% endblock %}


{% block content %}

	<p> Welcome to your profile page </p>

	<form action="." method="post">
{% csrf_token %}    
    First Name:
    <input type="text" name="user" value="{{ user.first_name}}" /><br />
      First Name:
    <input type="text" name="user" value="{{user.last_name}}" /><br />
    Username:
    <input type="text" name="name" value="{{user.username}}" /><br />

    Email:
    <input type="text" name="address" value="{{ user.email}}" /><br />

    <input type="submit" value="Save Changes" name="save" />
    <input type="submit" value="Cancel" name="cancel" />
    <br/>
</form>

{% endblock %}
