{% extends "base.html" %}

{% block pagename %}

	Profile page

{% endblock %}


{% block content %}
 {% csrf_token %}
	<p> Welcome to your profile page </p>

<form role="form" action="{{% url 'users.views.profile' %}}" method="post">
  <div class="form-group">
    <label for="inputEmail">Email address</label>
    <input type="email" class="form-control" id="inputEmail1" placeholder="{{form.email}}">
  </div>
  <div class="form-group">
    <label for="inputFirstName">First Name</label>
    <input type="firstname" class="form-control" id="inputFirstName" placeholder="{{form.first_name}}">
  </div>
  <div class="form-group">
    <label for="inputFirstName">Last Name</label>
    <input type="lastname" class="form-control" id="inputLastName" placeholder="{{form.last_name}}">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>



{% endblock %}
