{% extends "base.html" %}

{% block pagename %}

	Profile page

{% endblock %}

{% load widget_tweaks %}

{% block content %}

<div style="margin: auto; max-width: 1024px; height: 100%;" ng-controller="HomeCtrl" >

{% if success == false %}
	<h2> Update your profile details </h2>
{% else %}
  <div class="alert alert-success">You have successfully updated your profile details.</div>
{% endif %}



<form role="form" action="{% url 'users.views.profile' %}" method="post" style="width: 300px;">
 {% csrf_token %}
  <div class="form-group">
    <label for="inputEmail">Email address</label>
    {{ form.email|attr:"placeholder:email"|attr:"required:false"|add_class:"form-control" }}
  </div>
  <div class="form-group">
    <label for="inputFirstName">First Name</label>
     {{ form.first_name|attr:"placeholder:first name"|attr:"required:false"|add_class:"form-control" }}
  </div>
  <div class="form-group">
    <label for="inputFirstName">Last Name</label>
     {{ form.last_name|attr:"placeholder:second name"|attr:"required:false"|add_class:"form-control" }}
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>



{% endblock %}
