{% extends "base.html" %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block pageheaders %}
<link href="{%static "css/register.css" %}" rel="stylesheet">
{% endblock %}

{% block title %}Create an account{% endblock %}

{% block content %}
<form class="form-signup" method="post" action="{% url 'users.views.register' %}">
	{% csrf_token %}
	<h1 style="text-align:center;">Sign Up</h1>
	{{ form.username|attr:"placeholder:Username"|attr:"required:true"|add_class:"form-control" }}

	{{ form.password1|attr:"placeholder:Password"|attr:"required:true"|add_class:"form-control" }}
	{{ form.password2|attr:"placeholder:Confirm Password"|attr:"required:true"|add_class:"form-control" }}
	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
</form>

{% endblock %}