<div class="container" ng-controller="IndexDataCtrl">

<div class="row" style="padding-left: 14px; padding-right: 14px">
  <div class="col-md-10">
    <h1>{{index.name}}</h1>
    <h2>{{index.ticker}}</h2>
    <h3 id="exc-name">{{index.exchange}}</h3>
  </div>
</div>

<div class="tempStats row">
  <div class="col-md-3 col-sm-4">
    <div class="tempStatBox">
      <div class="tempStat" style="border-color: #36a9e1;">{{index.price.price.toFixed(2)}}</div>
      <span>Price</span>
    </div>
  </div><!--/col-->

  <div class="col-md-3 col-sm-4">
    <div class="tempStatBox">
      <div class="tempStat" style="border-color: #36a9e1;">{{index.price.last_close.toFixed(2)}}</div>
      <span>Last Close</span>
    </div>
  </div><!--/col-->

  <div class="col-md-3 col-sm-4">
    <div class="tempStatBox">
      <div class="tempStat" style="border-color: #36a9e1;">{{index.components.length}}</div>
      <span>Components</span>
    </div>
  </div><!--/col-->

  <div class="col-md-3 col-sm-4">
    <div class="tempStatBox">
      <div class="tempStat" style="border-color: {{index.price.change|priceChangeColour}}">
        {{index.price.change.toFixed(3) + '%'}}
      </div>
      <span>Change</span>
    </div>
  </div><!--/col-->


  <div class="clearfix"></div>
</div>

<p class="btn-group" style="width: 100%;">
  <button class="btn btn-primary" style="width: 50%;" id="comp-btn" onclick="switchComp();">Components</button>
  <button class="btn" style="width: 50%;" id="hist-btn" onclick="switchHist();">Historical Data</button>
</p>

<div id="comp-pane">
  <div>
      <form role="form">
          <input type="text" class="form-control" placeholder="Search" ng-model="query">
      </form>
  </div>
  <table class="table table-striped table-hover" ng-controller="PortfolioCtrl">
    <thead>
      <tr>
        <th><a href="" ng-click="reverse = predicate == 'ticker' && !reverse; predicate = 'ticker'">Ticker</a></th>
        <th><a href="" ng-click="reverse = predicate == 'name' && !reverse; predicate = 'name'">Name</a></th>
        <th><a href="" ng-click="reverse = predicate == 'price.price' && !reverse; predicate = 'price.price'">Price</a></th>
        <th><a href="" ng-click="reverse = predicate == 'price.change' && !reverse; predicate = 'price.change'">Change</a></th>
        <th><a href="" ng-click="reverse = predicate == 'price.volume' && !reverse; predicate = 'price.volume'">Volume</a></th>
        <th><a href="" ng-click="reverse = predicate == 'price.market_cap' && !reverse; predicate = 'price.market_cap'">Market Cap</a></th>
      </tr>
    </thead>
    <tr ng-repeat="stock in index.components | filter:query | orderBy:predicate:reverse" id="tbl-row-{{stock.ticker}}" onclick="window.location= this.firstElementChild.firstElementChild.href;" style="cursor: pointer;">
      <td><a href="/stock/#/{{stock.exchange}}/{{stock.ticker}}/" class="label label-info">{{stock.ticker}}</a></td>
      <td>{{stock.name}}</td>
      <td>{{stock.price.price.toFixed(2)}}</td>
      <td>{{stock.price.change.toFixed(3) + '%'}}</td>
      <td>{{stock.price.volume|abbreviateNumber}}</td>
      <td>{{stock.price.market_cap.toFixed(2)|abbreviateNumber}}</td>
      <td><button ng-if="logged_in" type="button" class="btn btn-{{style}} btn-xs" ng-click="portfolio()" ng-controller="PortfolioStockCtrl" style="background-color:{{inPortfolio() ? '#ff5454' : '#36a9e1'}}; color :#FFF;">{{$window.logged_in}}{{inPortfolio() ? "In Portfolio" : "Add to Portfolio"}}</button></td>
      </a>
    </tr>
  </table>
</div>
<div id="hist-pane" style="display:none;">
  <div style="background-color: #36A9E1; border-radius: 2px;">
    <stock-chart exchange="LSE" ticker="{{ticker}}"/>
  </div>
</div>
</div>
</div>
</div>
