<div class="container" ng-controller="StockDataCtrl">

<div class="row" style="padding-left: 14px; padding-right: 14px">
   <div class="col-md-2" ng-controller="PortfolioCtrl" ng-if="logged_in">
    <a class="quick-button" ng-click="portfolio()" ng-controller="PortfolioStockCtrl" style="color: {{inPortfolio() ? '#36a9e1': '#383e4b'}}; width: 100%; height: 150px; padding-top: 50px;">
      <i class="fa fa-check"></i>
      <p>{{inPortfolio() ? "In Portfolio" : "Add to Portfolio"}}</p>
    </a>
  </div>
  <div class="col-md-10" >
    <h1>{{stock.name}}</h1>
    <h2>{{stock.ticker}}</h2>
    <h3>{{stock.exchange}}</h3>
  </div>
</div>

<div class="tempStats row">
  <div class="col-md-3 col-sm-4">
    <div class="tempStatBox">
      <div class="tempStat" style="border-color: #36a9e1;">
        {{stock.price.price.toFixed(2)}}
      </div>
      <span>Price</span>
    </div>
  </div><!--/col-->

  <div class="col-md-3 col-sm-4">
    <div class="tempStatBox">
      <div class="tempStat" style="border-color: #36a9e1;">
        {{stock.price.last_close.toFixed(2)}}
      </div>
    <span>Last Close</span>
    </div>
  </div><!--/col-->

  <div class="col-md-3 col-sm-4">
    <div class="tempStatBox">
      <div class="tempStat" style="border-color: #36a9e1;">
        {{stock.price.volume|abbreviateNumber}}
      </div>
      <span>Volume</span>
    </div>
  </div><!--/col-->


  <div class="col-md-3 col-sm-4">
    <div class="tempStatBox">
      <div class="tempStat" style="border-color: {{stock.price.change|priceChangeColour}}">
        {{stock.price.change.toFixed(3) + '%'}}
      </div>
      <span>Change</span>
    </div>
  </div><!--/col-->

  <div class="clearfix"></div>
</div>

<div style="background-color: #36A9E1; border-radius: 2px;">
  <stock-chart exchange="{{ exchange }}" ticker="{{ ticker }}"/>
</div>

</div>