{% extends "base.html" %}
{% load staticfiles %}
{% block pagename %}Welcome{% endblock %}
{% block pageheaders %}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
<script src="/static/js/HomeController.js"></script>
<style type="text/css">

.quick-button {
    z-index: 0;
}
.quick-button:hover {
    z-index: 100;
}

.verticalChart .singleBar .bar .red {
    background-color: #ff5454;
}

.verticalChart .singleBar .bar .blue {
    background-color: #36a9e1;
}

.verticalChart .singleBar {
    width: 29%;
}

</style>
{% endblock %}

{% block content %}
{% verbatim %}
<div ng-app="homeApp">
<div style="margin: auto; max-width: 1024px; height: 100%;" ng-controller="homeCtrl" >
    <div class="row">
        <div class="col-lg-9">
            <div class="box blue">
                <div class="box-header">
                    <h2><i class="fa fa-question"></i>What is Stock Advisor?</h2>
                </div>
                <div class="box-content">
                    <img style="max-height: 192px; position: relative; float: right; padding: 8px;" src="/static/images/logo.png" id="logo" />
                    <p> Bacon ipsum dolor sit amet spare ribs bresaola drumstick jerky pastrami pork loin. Fatback ground round capicola pork belly meatball tri-tip kevin cow, pancetta biltong pork loin bacon doner. Prosciutto short loin tri-tip flank tenderloin shoulder kevin sausage pastrami. Drumstick pancetta turducken cow pork, ribeye leberkas jowl.</p>
                    <p>Pork belly jowl capicola, ground round bacon turkey shank biltong. Pancetta frankfurter meatball boudin bacon. Jowl meatball brisket corned beef biltong spare ribs. Flank tongue andouille bacon. Ham hock boudin meatloaf shankle cow brisket bacon tongue chuck beef ribs pig pork belly leberkas sausage.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <a class="quick-button" href="/accounts/register/" style="vertical-align:middle;">
                <i class="fa fa-book" style="vertical-align:middle;margin-bottom: 18px;"></i>
                <span style="font-size: 24px;position: relative; top: -4px;">&nbsp;Sign Up</span>
            </a>
            <a class="quick-button" href="/accounts/login/" style="vertical-align:middle;">
                <i class="fa fa-user" style="vertical-align:middle;margin-bottom: 18px;"></i>
                <span style="font-size: 24px;position: relative; top: -4px;">&nbsp;Login</span>
            </a>
        </div>
    </div>
    <div style="clear:both;"></div>
    <div class="row">
        <div class="col-lg-4">
            <div class="smallstat box" ng-repeat="stock in risers">
                <i class="fa fa-arrow-up green" style="width: 112px;">&nbsp;{{shortenFloat(stock.price.change,2)}}%</i>
                <span class="title">Biggest Riser</span>
                <span class="value">{{cropName(stock.name,20)}}</span>
            </div>
            <div class="verticalChart">
                <div class="singleBar">
                    <div class="bar" id="riser0">
                        <div class="value">
                            <span>{{getBarHeight(risers, 0, 'riser0', false)}}</span>
                        </div>
                    </div>
                    <div class="title">{{risers[0].ticker}}</div>
                </div>
                <div class="singleBar">
                    <div class="bar" id="riser1">
                        <div class="value">
                            <span>{{getBarHeight(risers, 1, 'riser1', false)}}</span>
                        </div>
                    </div>
                    <div class="title">{{risers[1].ticker}}</div>
                </div>
                <div class="singleBar">
                    <div class="bar" id="riser2">
                        <div class="value">
                            <span>{{getBarHeight(risers, 2, 'riser2', false)}}</span>
                        </div>
                    </div>
                    <div class="title">{{risers[2].ticker}}</div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="smallstat box" ng-repeat="stock in fallers">
                <i class="fa fa-arrow-down red" style="width: 112px;">&nbsp;{{shortenFloat(stock.price.change,2)}}%</i>
                <span class="title">Biggest Faller</span>
                <span class="value">{{cropName(stock.name,20)}}</span>
            </div>
            <div class="verticalChart">
                <div class="singleBar">
                    <div class="bar" id="faller0">
                        <div class="value red">
                            <span>{{getBarHeight(fallers, 0, 'faller0', false)}}</span>
                        </div>
                    </div>
                    <div class="title">{{fallers[0].ticker}}</div>
                </div>
                <div class="singleBar">
                    <div class="bar" id="faller1">
                        <div class="value red">
                            <span>{{getBarHeight(fallers, 1, 'faller1', false)}}</span>
                        </div>
                    </div>
                    <div class="title">{{fallers[1].ticker}}</div>
                </div>
                <div class="singleBar">
                    <div class="bar" id="faller2">
                        <div class="value red">
                            <span>{{getBarHeight(fallers, 2, 'faller2', false)}}</span>
                        </div>
                    </div>
                    <div class="title">{{fallers[2].ticker}}</div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="smallstat box" ng-repeat="stock in biggest">
                <i class="fa fa-money blue"></i>
                <span class="title">Biggest by Market Cap</span>
                <span class="value">{{cropName(stock.name,28)}}</span>
                <span class="notification blue">£{{stock.price.market_cap/1000000000}} bil</span>
            </div>
            <div class="verticalChart">
                <div class="singleBar">
                    <div class="bar" id="biggest0">
                        <div class="value blue">
                            <span>{{getBarHeight(biggest, 0, 'biggest0', true)}}</span>
                        </div>
                    </div>
                    <div class="title">{{biggest[0].ticker}}</div>
                </div>
                <div class="singleBar">
                    <div class="bar" id="biggest1">
                        <div class="value blue">
                            <span>{{getBarHeight(biggest, 1, 'biggest1', true)}}</span>
                        </div>
                    </div>
                    <div class="title">{{biggest[1].ticker}}</div>
                </div>
                <div class="singleBar">
                    <div class="bar" id="biggest2">
                        <div class="value blue">
                            <span>{{getBarHeight(biggest, 2, 'biggest2', true)}}</span>
                        </div>
                    </div>
                    <div class="title">{{biggest[2].ticker}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endverbatim %}
{% endblock %}
