{% extends "base.html" %}
{% load staticfiles %}
{% block pagename %}Portfolio{% endblock %}
{% block pageheaders %}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular.min.js"></script>
<script src="/static/js/common.js"></script>
<style type="text/css">

.quick-button {
    z-index: 0;
}
.quick-button:hover {
    z-index: 100;
}

.verticalChart .singleBar .bar .red {
    background-color: #ff5454;
}

.verticalChart .singleBar .bar .blue {
    background-color: #36a9e1;
}

.verticalChart .singleBar {
    width: 29%;
}

.ch_value {
  font-size: 48px;
  color: #FFFFFF;
}

.favlink:hover {
  text-decoration: none;
}

.favlink:hover .circleStatsItemBox {
  background-color: #67c2ef!important;
}

.percent .count, .percent .sep {
  font-size: 20px;
}
.percent .value {
  font-size: 28px;
}
</style>
{% endblock %}

{% block content %}

<div ng-app="Common" ng-controller="PortfolioCtrl">
<div style="margin: auto; max-width: 1024px; height: 100%;">
    <div class="col-lg-12">
      <form role="form">
        <input type="text" class="form-control" placeholder="Search" ng-model="query">

        <!-- FIX ME PLEASE ROB -->
        <div class="btn-group">
                <button class="btn btn-large btn-primary">Large Dropdown</button>
                <button class="btn btn-large dropdown-toggle btn-primary" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="ui-elements.html#"><i class="fa fa-star"></i> Action</a></li>
                  <li><a href="ui-elements.html#"><i class="fa fa-tag"></i> Another action</a></li>
                  <li><a href="ui-elements.html#"><i class="fa fa-download"></i> Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="ui-elements.html#"><i class="fa fa-tint"></i> Separated link</a></li>
                </ul>
              </div>



      </form>
    </div>
    {% if user.is_authenticated %}
    {% verbatim %}
    <div class="col-md-3" ng-repeat="portStock in portfolioList | filter:query | orderBy:predicate:reverse" style="text-align: center;">
      <a class="favlink" ng-init="exchange = portStock.exchange; ticker = portStock.ticker" href="/stock/#/{{portStock.exchange}}/{{portStock.ticker}}/">
        <div class="circleStatsItemBox" style="background-color: {{stock.price.change|priceChangeColour}}" ng-controller="StockDataCtrl">
          <div class="header">PRICE: <strong>{{stock.price.price.toFixed(2)}}</strong></div>
          <span class="percent" style="margin-top: -72px;font-size: 17px;">
            {{stock.name}}
          </span>
          <span class="percent">
            <span class="count">
              <span class="number">{{stock.exchange}}</span>
            </span>
            <span class="sep"> / </span>
            <span class="value">
              <span class="number">{{stock.ticker}}</span>
            </span>
          </span>
          <div class="circleStat" style="margin-top: 12px;">
            <div class="ch_value">{{stock.price.change.toFixed(3) + '%'}}</div>
          </div>
          <div class="footer">
            MARKET CAP: <strong>{{stock.price.market_cap|abbreviateNumber}}</strong>
          </div>
        </div>
      </a>
    </div>
    {% endverbatim %}
    {% endif %}
</div>
</div>

{% endblock %}
