{% extends "base.html" %}

{% block pageheaders %}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
<script src="/static/js/IndexController.js"></script>

{% endblock %}

{% block pagename %}

	Stock recommendation

{% endblock %}


{% block content %}
{% verbatim %}
<div ng-app="IndexApp">
<div style="margin: auto; max-width: 1024px; height: 100%;" ng-controller="IndexListCtrl" >
<script>var random = Math.floor((Math.random()*100)+1);</script>
{{stocks.components[4].ticker}}
</div>
</div>

{% endverbatim %}
{% endblock %}