{% extends "base.html" %}

{% block pageheaders %}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
<script src="/static/js/controllers.js"></script>
{% endblock %}

{% block pagename %}

    Index Listing

{% endblock %}


{% block content %}

    {% verbatim %}
<div ng-app="stockApp">
<div ng-controller="StockListCtrl">

<div class="bs-example">
      <form role="form">
        <input type="text" class="form-control" placeholder="Search" ng-model="query">
      </form>
</div><!-- /.bs-example -->

  <table class="table table-striped table-hover">
	  <thead>
	    <tr>
		    <th>Ticker</th>
		    <th>Name</th>
		    <th>Price</th>
		    <th>Volume</th>
	    </tr>
	  </thead>
	    <tr ng-repeat="stock in stocks.components | filter:query">
	      <td>{{stock.ticker}}</td>
	      <td>{{stock.name}}</td>
	      <td>{{stock.price.price}}</td>
	      <td>{{stock.price.volume}}</td>
	    </tr>
  </table>

</div>
</div>

    {% endverbatim %}
{% endblock %}
