<html>

<meta charset="utf-8">
<head></head>
<body>
{% extends "base.html" %}

{% block pageheaders %}
<script type="text/javascript">
var exchange = "{{ exchange }}";
var ticker = "{{ ticker }}";
</script>
<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
<script src="/static/js/StockController.js"></script>

<style type="text/css">
.axis path,
.axis line {
  fill: none;
  stroke: #54B6E5;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
.y.axis text {
  color: #ffffff;
}

.line {
  fill: none;
  stroke: #ffffff;
  stroke-width: 4px;
}
</style>
{% endblock %}

{% block pagename %}

	Stock page

{% endblock %}


{% block content %}
{% verbatim %}

<div ng-app="StockApp">
<div style="margin: auto; max-width: 1024px; height: 100%;" ng-controller="StockListCtrl" >

<div class="container" style="width: 70%;">
<div class="row" style="padding-left: 14px; padding-right: 14px">
  <div class="col-md-4 col-md-offset-4" style="text-align: center;">
    <h1>{{stocks.name}}</h1>
    <h2>{{stocks.ticker}}</h2>
    <h3>{{stocks.exchange}}</h3>
  </div>
</div>

<div class="tempStats row">
        <div class="col-md-3 col-sm-4">
          <div class="tempStatBox">
            <div class="tempStat" style="border-color: rgb(103, 194, 239);">{{stocks.price.price.toFixed(2)}}</div>
            <span>Price</span>
          </div>
        </div><!--/col-->

        <div class="col-md-3 col-sm-4">
          <div class="tempStatBox">
            <div class="tempStat" style="border-color: rgb(250, 96, 61);">{{stocks.price.last_close.toFixed(2)}}</div>
            <span>Last Close</span>
          </div>
        </div><!--/col-->

        <div class="col-md-3 col-sm-4">
          <div class="tempStatBox">
            <div class="tempStat" style="border-color: rgb(103, 194, 239);">{{stocks.components.length}}</div>
            <span>Components</span>
          </div>
        </div><!--/col-->

        <div class="col-md-3 col-sm-4">
          <div class="tempStatBox">
            <div class="tempStat" style="border-color: rgb(234, 232, 116);">{{((stocks.price.price / stocks.price.last_close - 1) * 100).toFixed(3)}}%</div>
            <span>Change</span>
          </div>
        </div><!--/col-->

        <div class="clearfix"></div>
</div>

<div style="background-color: #36A9E1;">
<stock-chart/>
</div>
</div>
</div>
</div>

{% endverbatim %}
{% endblock %}
</body>
</html>
