{% extends "base.html" %}

{% block pageheaders %}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
<script src="/static/js/controllers.js"></script>
{% endblock %}

{% block pagename %}

    Index Listing

{% endblock %}


{% block content %}
{% verbatim %}

<div ng-app="stockApp">
<div ng-controller="StockListCtrl">



<table class="table table-striped table-hover">
	  <thead>
	    <tr>
		    <th>Ticke</th>
		    <th>Name</th>
		    <th>Price</th>
		    <th>Volume</th>
		    <th>Market Cap</th>
	    </tr>
	  </thead>
	    <tr>
	      <td>{{stocks.ticker}}</td>
	      <td>{{stocks.name}}</td>
	      <td>{{stocks.price.price}}</td>
	      <td>{{stocks.price.volume}}</td>
	      <td>{{stocks.price.market_cap}}</td>
	    </tr>
  </table>

<div>
      <form role="form">
        <input type="text" class="form-control" placeholder="Search" ng-model="query">
      </form>
</div>

  <table class="table table-striped table-hover">
	  <thead>
	    <tr>
		    <th><a href="" ng-click="predicate = 'ticker'; reverse=!reverse">Ticker</a></th>
		    <th><a href="" ng-click="predicate = 'name'; reverse=!reverse">Name</a></th>
		    <th><a href="" ng-click="predicate = 'price'; rreverse=!reverse">Price</a></th>
		    <th><a href="" ng-click="predicate = 'volume'; reverse=!reverse">Volume</a></th>
		    <th><a href="" ng-click="predicate = 'market_cap'; reverse=!reverse">Market Cap</a></th>
	    </tr>
	  </thead>
	    <tr ng-repeat="stock in stocks.components | filter:query | orderBy:predicate:reverse">
	      <td>{{stock.ticker}}</td>
	      <td>{{stock.name}}</td>
	      <td>{{stock.price.price}}</td>
	      <td>{{stock.price.volume}}</td>
	      <td>{{stock.price.market_cap}}</td>
	    </tr>
  </table>

</div>
</div>

{% endverbatim %}
{% endblock %}
