{% extends "base.html" %}

{% block pageheaders %}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
<script src="/static/js/controllers.js"></script>
{% endblock %}

{% block pagename %}

    Index Listing

{% endblock %}


{% block content %}
{% verbatim %}

<div ng-app="stockApp">
<div ng-controller="StockListCtrl">

<div class="container" style="width: 70%;">
<table class="table table-striped table-hover">
	  <thead>
	    <tr>
		    <th>Ticker</th>
		    <th>Name</th>
		    <th>Price</th>
	    </tr>
	  </thead>
	    <tr>
	      <td>{{stocks.ticker}}</td>
	      <td>{{stocks.name}}</td>
	      <td>{{stocks.price.price}}</td>
	    </tr>
  </table>

<div>
      <form role="form">
        <input type="text" class="form-control" placeholder="Search" ng-model="query">
      </form>
</div>

  <table class="table table-striped table-hover">
	  <thead>
	    <tr>
		    <th><a href="" ng-click="reverse = predicate == 'name' && !reverse; predicate = 'ticker'">Ticker</a></th>
		    <th><a href="" ng-click="reverse = predicate == 'name' && !reverse; predicate = 'name'">Name</a></th>
		    <th><a href="" ng-click="reverse = predicate == 'price.price' && !reverse; predicate = 'price.price'">Price</a></th>
		    <th><a href="" ng-click="reverse = predicate == 'price.volume' && !reverse; predicate = 'price.volume'">Volume</a></th>
		    <th><a href="" ng-click="reverse = predicate == 'price.market_cap' && !reverse; predicate = 'price.market_cap'">Market Cap</a></th>
	    </tr>
	  </thead>
	    <tr ng-repeat="stock in stocks.components | filter:query | orderBy:predicate:reverse">
	      <td>{{stock.ticker}}</td>
	      <td>{{stock.name}}</td>
	      <td>{{stock.price.price}}</td>
	      <td>{{stock.price.volume}}</td>
	      <td>{{stock.price.market_cap}}</td>
	    </tr>
  </table>

</div>
</div>
</div>

{% endverbatim %}
{% endblock %}
