{% extends "base.html" %}

{% block pageheaders %}
<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular-route.min.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/chart.js"></script>
<script src="/static/js/stock.js"></script>

<style type="text/css">
.axis path,
.axis line {
  fill: none;
  stroke: #54b6e5;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.grid path,
.grid line {
  fill: none;
  stroke: #54b6e5;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.domain {
  stroke-width: 2px;
}

.axis text {
  fill: #fff;
}

.line {
  fill: none;
  stroke: #fff;
  stroke-width: 3px;
}

.area {
  fill: #fff;
  opacity: 0.4;
}

rect.pane {
  cursor: move;
  fill: none;
  pointer-events: all;
}
</style>
<script type="text/javascript">

function switchHist() {
  $('#comp-btn').removeClass('btn-primary');
  $('#hist-btn').addClass('btn-primary');

  $('#comp-pane').css('display', 'none');
  $('#hist-pane').css('display', 'block');
}

function switchComp() {
  $('#hist-btn').removeClass('btn-primary');
  $('#comp-btn').addClass('btn-primary');

  $('#hist-pane').css('display', 'none');
  $('#comp-pane').css('display', 'block');
}

</script>


{% endblock %}

{% block pagename %}
Stock page
{% endblock %}


{% block content %}
<div ng-app="StockApp" ng-controller="LoggedInCtrl">
<div style="margin: auto; max-width: 1024px; height: 100%;" ng-view>

</div>
</div>
{% endblock %}
